@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
body{
    background-color: rgb(179, 179, 179);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.content{
    width: 400px;
    margin: 0 auto;
}
h1{
    text-align: center;
    animation-name:replaceColor ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.img-content{
    width: 100%;
    display: flex;
    overflow-x:scroll;
    box-shadow: 10px 10px 10px  rgb(0, 0, 0);
}
.circle{
    width: 100px;

    animation-name: setCircle;
    animation-duration: 10s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}
@keyframes setCircle {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(365deg);
    }
}
.img-line{
    border: 20px solid #fff;
}
.carousel-control-prev{
    color: black;
}

img{
    height: 500px;
}
.link{
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.content-portfolio{
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    margin-top: 10px;
    text-align: center;
}
.portfolio-txt{
    font-weight: 700;
    text-align: center;
}
.content-code{

    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
.box:first-child{
    grid-column: 1/2;
    grid-row: 1/2;
}
.box:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.box:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: -190px;
}
.box:last-child{
    margin-top: -350px;
    grid-column: 1/3;
    grid-row: 3/5;
}
@keyframes replaceColor {
    0%{
        color: black;
    }
    50%{
        color: rgb(21, 21, 238);
        text-shadow: 15px 15px 25px rgb(11, 3, 253);
    }
    100%{
        color: black;

    }
}


