@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
 button:hover{
    transform: scale(1.1);
} 
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    padding: 10px 0px 0px 0px;
}
.header-show{
    position: fixed;
    left: 0;
    bottom: 0;
}
#header-show__btn{
    width: 120px;
    height: 40px;
    color: #fff;
    border: none;
    background-color:#8643DC;
}
#header-show__content{
        display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-toggler.btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.nav-link{
    color: black;
    font-weight: 700;
}
.nav-link:hover{
    opacity:0.8;
    text-decoration: underline;
}
.about-me__content{
    margin-top: 130px;
    display: flex;
    justify-content:space-between;
}
.about-me__suptitle,.about-me__subtitle{
    font-size: 20px;
    font-weight: 500;
}
.about-me__title{
    font-size: 55px;
    font-weight: 900;
    background: linear-gradient(to left,#7F00FF,#000000,#434343);
    background-size: 200%;
    transition: .5s;
}
.about-me__title{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-me__title:hover{
    background-position: right;
}
.carousel-inner{
    width: 350px;
}
.about-me__btn{
    margin-top: 25px;
    width: 200px;
    height: 60px;
    background-image: linear-gradient(to left,#E100FF,#7F00FF,#E100FF);
    background-size: 200%;
    border: none;
    color: white;
    border-radius:100px ;
    transition: .6s;
}
button:hover{
    background-position: right;
}
.about-me__box-img{
    width: 450px;
}
.main-hobbi{
    margin-bottom: 70px;
}
.btn-link{
    margin-bottom: 20px;
}
.hobbi-box{
    display: flex;
    justify-content: space-between;;
}
.hobbi-box__row{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.hobbi-box__info{
    font-size: 25px;
    font-weight: 500;
    
}
.main-app{
    margin-bottom: 70px;
}
.main-portfolio{
    height: 722px;
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    margin-bottom: 70px;
}
.portfolio-box{
    display: flex;
    justify-content:space-between;
}
.app-box{
    display: flex;
    justify-content: space-between;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:50px;
}
.portfolio-content__img{
    width: 500px;
}
.app-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    background: #FFF7FA;
    border: 1px solid #FFE7F0;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.app-content__img{
    width: 50px;
}
.app-content:hover{
    transform: scale(1.1);
}
.footer{
    margin: 50px 0px ;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-box{
    margin-top: 15px;
}
.footer-box__link{
    margin-left: 25px;
}
.footer-box__img:hover{
    transform: scale(1.1);
}
@media screen and (min-width:1140px) {
    .collapse {
        margin-left: 150px;
    }
    .nav-link{
        margin-right: 45px;
    }
}
@media screen and (max-width:485px) {
    .about-me__box-img{
        width: 170px;
    }
    .hobbi-box{
        display: flex;
        flex-direction: column;
    }
    .portfolio-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-content__img{
        width: 200px;
    }
}

@media screen and (max-width:650px) {
    .header-show{
        display: none;
    }
    .about-me__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .app{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .app-box{
        display: grid;
        gap: 50px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}
